
// start .sSchools
.sSchools {
	&__head{
		.row{
			align-items: center;
		}
		h1{
			@include media-breakpoint-up(xxl) { 
				margin-bottom: 0;
			}
			@include rfs(32px);
		}
	}
		.section__inner{
			margin-bottom: rem(40);
		}
		&__btn-head{
			@extend .btn;
				@include media-breakpoint-up(xl){

					width: rem(140);
				}
		}
		&__col{
			@include media-breakpoint-up(xl) {

				margin-bottom: 0;
			}
			margin-bottom: 1rem;
		}
		&__item{
			 box-shadow: 0 5px 35px rgba(151, 180, 235, 0.06);
			 background-color:rgba($color: #fff, $alpha: .1);
			 height: 100%;
			 min-height: calc(100% - var(--bs-gutter-x));
			 margin-bottom: var(--bs-gutter-x);
			 border-radius: 1.38889rem;
			 padding: rem(30);
		}
		&__title-sm{
			font-size: $small;
			font-weight: 400; 
			line-height: 1.38; 
			margin-bottom: 1rem;
		}
		p{
			font-weight: 500;
			margin-bottom: rem(25);
		}
		&__btn{
			@extend .btn;
			@extend .btn-white;
			background-color: rgba($color: #fff, $alpha: 0.1);
			font-size: $small;
			padding: rem(13) rem(20);
			// background-color: rgba($color: #fff, $alpha: .1);
		}
		&__slide{
			@include media-breakpoint-up(md) {

				height: auto;
			}
		}

	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) { }
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(md) {
		--swiperArrowPosition: -15px;
	}
} // end.sSchools

@include media-breakpoint-up(md) {

	.section__inner--slider-wrapper{
		padding-left: rem(90);
		padding-right: rem(90);
	}
}