mixin itemSchool(t,p, s)
	if s
		+e.slide.swiper-slide
			+e.item
				+e.title-sm!= t
				p!= p
				+e.btn.btn-white(href="#") Подробнее
	else
		+e.col-item.col-xl-4.col-lg-6
			+e.item
				+e.title-sm!= t
				p!= p
				+e.btn.btn-white(href="#") Подробнее
mixin sSchools(data)
	// start sSchools
	+b.SECTION.sSchools.section#sSchools&attributes(attributes)
		.container
			+e.head.section__inner
				.row
					.col-xxl-auto
						h1 Школы
					+e.col.col-xl-auto.col-md-4
						+input('Округ','select')
					+e.col.col-xl-auto.col-md-4
						+input('Регион','select')
					+e.col.col-xl-auto.col-md-4
						+input('Город','select')
					.col
						+input('Наименование','text')
					.col-auto
						+e.btn-head.btn-white(type="button") Найти
			+e.body.section__inner.pb-0
				.row
					+itemSchool(`Северо-Кавказский федеральный округ`,`Муниципальное казенное общеобразовательное учреждение &laquo;Средняя общеобразовательная школа&raquo; с.п.Урвань Урванского муниципального района КБР`)

					+itemSchool(`Северо-Кавказский федеральный округ, Кабардино-Балкария, г&nbsp;Баксан`,`Муниципальное казенное общеобразовательное  учреждение &laquo;Прогимназия &#8470;&nbsp;5&nbsp;г.Баксана&raquo;`)

					+itemSchool(`Северо-Кавказский федеральный округ, Кабардино-Балкария`,`МУНИЦИПАЛЬНОЕ КАЗЕННОЕ ОБЩЕОБРАЗОВАТЕЛЬНОЕ УЧРЕЖДЕНИЕ &laquo;СРЕДНЯЯ ОБЩЕОБРАЗОВАТЕЛЬНАЯ ШКОЛА &#8470;&nbsp;2&nbsp;им. КЕШОКОВА А.П.&raquo; с.п. ШАЛУШКА ЧЕГЕМСКОГО МУНИЦИПАЛЬНОГО РАЙОНА Кабардино-Балкарской Республики`)
					
					+itemSchool(`Северо-Кавказский федеральный округ`,`Муниципальное казенное общеобразовательное учреждение &laquo;Средняя общеобразовательная школа&raquo; с.п.Урвань Урванского муниципального района КБР`)

					+itemSchool(`Северо-Кавказский федеральный округ, Кабардино-Балкария, г&nbsp;Баксан`,`Муниципальное казенное общеобразовательное  учреждение &laquo;Прогимназия &#8470;&nbsp;5&nbsp;г.Баксана&raquo;`)

					+itemSchool(`Северо-Кавказский федеральный округ, Кабардино-Балкария`,`МУНИЦИПАЛЬНОЕ КАЗЕННОЕ ОБЩЕОБРАЗОВАТЕЛЬНОЕ УЧРЕЖДЕНИЕ &laquo;СРЕДНЯЯ ОБЩЕОБРАЗОВАТЕЛЬНАЯ ШКОЛА &#8470;&nbsp;2&nbsp;им. КЕШОКОВА А.П.&raquo; с.п. ШАЛУШКА ЧЕГЕМСКОГО МУНИЦИПАЛЬНОГО РАЙОНА Кабардино-Балкарской Республики`)

					+itemSchool(`Северо-Кавказский федеральный округ, Кабардино-Балкария, село Нижний Куркужин`,`Муниципальное казенное общеобразовательное учреждение “Средняя общеобразовательная школа №2 им. А.А. Шогенцукова” г. Баксана`)

					+itemSchool(`Северо-Кавказский федеральный округ, Кабардино-Балкария`,`Муниципальное казенное общеобразовательное учреждение «Средняя общеобразовательная школа им. С.П. Восканова с. Пролетарского»`)

					+itemSchool(`Центральный федеральный округ, Москва`,`Государственное бюджетное общеобразовательное учреждение города Москвы “Пушкинская школа № 1500”`)
			+pugin()
	// end sSchools
mixin sSchools2(data)
	// start sSchools
	+b.SECTION.sSchools.section#sSchools&attributes(attributes)
		.container
			.section-title.text-center
				h2 Другие школы региона

			+e.body.section__inner.section__inner--slider-wrapper
				+e.slider--js.swiper-container
					.swiper-wrapper
						+itemSchool(`Северо-Кавказский федеральный округ`,`Муниципальное казенное общеобразовательное учреждение &laquo;Средняя общеобразовательная школа&raquo; с.п.Урвань Урванского муниципального района КБР`,'s')

						+itemSchool(`Северо-Кавказский федеральный округ, Кабардино-Балкария, г&nbsp;Баксан`,`Муниципальное казенное общеобразовательное  учреждение &laquo;Прогимназия &#8470;&nbsp;5&nbsp;г.Баксана&raquo;`,'s')

						+itemSchool(`Северо-Кавказский федеральный округ, Кабардино-Балкария`,`МУНИЦИПАЛЬНОЕ КАЗЕННОЕ ОБЩЕОБРАЗОВАТЕЛЬНОЕ УЧРЕЖДЕНИЕ &laquo;СРЕДНЯЯ ОБЩЕОБРАЗОВАТЕЛЬНАЯ ШКОЛА &#8470;&nbsp;2&nbsp;им. КЕШОКОВА А.П.&raquo; с.п. ШАЛУШКА ЧЕГЕМСКОГО МУНИЦИПАЛЬНОГО РАЙОНА Кабардино-Балкарской Республики`,'s')
						
						+itemSchool(`Северо-Кавказский федеральный округ`,`Муниципальное казенное общеобразовательное учреждение &laquo;Средняя общеобразовательная школа&raquo; с.п.Урвань Урванского муниципального района КБР`,'s')

						+itemSchool(`Северо-Кавказский федеральный округ, Кабардино-Балкария, г&nbsp;Баксан`,`Муниципальное казенное общеобразовательное  учреждение &laquo;Прогимназия &#8470;&nbsp;5&nbsp;г.Баксана&raquo;`,'s')

						+itemSchool(`Северо-Кавказский федеральный округ, Кабардино-Балкария`,`МУНИЦИПАЛЬНОЕ КАЗЕННОЕ ОБЩЕОБРАЗОВАТЕЛЬНОЕ УЧРЕЖДЕНИЕ &laquo;СРЕДНЯЯ ОБЩЕОБРАЗОВАТЕЛЬНАЯ ШКОЛА &#8470;&nbsp;2&nbsp;им. КЕШОКОВА А.П.&raquo; с.п. ШАЛУШКА ЧЕГЕМСКОГО МУНИЦИПАЛЬНОГО РАЙОНА Кабардино-Балкарской Республики`,'s')

						+itemSchool(`Северо-Кавказский федеральный округ, Кабардино-Балкария, село Нижний Куркужин`,`Муниципальное казенное общеобразовательное учреждение “Средняя общеобразовательная школа №2 им. А.А. Шогенцукова” г. Баксана`,'s')

						+itemSchool(`Северо-Кавказский федеральный округ, Кабардино-Балкария`,`Муниципальное казенное общеобразовательное учреждение «Средняя общеобразовательная школа им. С.П. Восканова с. Пролетарского»`,'s')

						+itemSchool(`Центральный федеральный округ, Москва`,`Государственное бюджетное общеобразовательное учреждение города Москвы “Пушкинская школа № 1500”`,'s')
				+arrow
	// end sSchools