// start .sContact
.sContact {
	--sPB: 0;
	padding-bottom: rem(40);

	.section-title {
		padding-left: rem(10);
		@include media-breakpoint-up(md) {
			padding-left: rem(33);
		}
		padding-bottom: calc(var(--sTPB) / 1.1);
	}
	&__subtitle {
		padding-left: rem(10);
		@include media-breakpoint-up(md) {
			padding-left: rem(25);
		}
	}

	&__col {
		margin-bottom: 1rem;
		@include media-breakpoint-up(md) {
			margin-bottom: 1.4rem;
		}
	}

	h4 {
		margin-bottom: rem(15);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(29);
		}
		line-height: 1.3;
	}

	&__block {
		background-color: rgba($color: #fff, $alpha: 0.1);
		border-radius: $border-radius;
		padding: rem(15);
		margin-bottom: rem(15);
		@include media-breakpoint-up(md) {
			padding: rem(25) rem(33);
			margin-bottom: rem(28);
		}
		// height: calc(100% - #{rem(28)});

		h6 {
			margin-bottom: rem(20);
		}

		a {
			color: #fff;
			&:hover {
				text-decoration: none;
			}
		}
	}

	&__sm {
		font-size: $small;
		line-height: 1.45;
		margin-bottom: rem(5);
	}

	&__row {
		@include roww(40px);
	}



	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-between(md, xl) { }
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xs) {} 

} // end.sContact

.tabs {
	&__caption {
		background-color: rgba($color: #fff, $alpha: 0.1);
		border-radius: rem(20);
		padding: rem(10) rem(10) rem(0);
		margin-bottom: rem(15);
		@include media-breakpoint-up(md) {
			padding: rem(22) rem(22) rem(12);
			margin-bottom: rem(30);
		}
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		@include media-breakpoint-down(lg) {
			justify-content: center;
		}
		// margin: 0 rem(-24);
	}

	&__btn {
		cursor: pointer;
		font-size: $h6-font-size;
		// &:not(:last-child) {
		// 	margin-right: rem(24);
		// }
		padding: rem(10) rem(10);
	
		@include media-breakpoint-up(sm) {
			padding: rem(15) rem(39);
		}
		border-radius: rem(40);
		width: rem(301);
		text-align: center;
		margin-bottom: rem(10);
		@include mt;

		&.active, &:hover {
			background-color: rgba($color: #fff, $alpha: 0.1);
		}
	}

	&__content {
		&--sm {
			padding-top: rem(10);
			@include media-breakpoint-up(md) {
				padding-top: rem(20);
			}

			h4 {
				@include media-breakpoint-up(lg) {
					margin-bottom: rem(23);
				}
			}
		}
	}


}