mixin sProjectInner(data)
	// start sProjectInner
	+b.SECTION.sProjectInner.section#sProjectInner&attributes(attributes)
		.container
			+e.head
				+pic('project-bg.jpg','','')(class="picture-bg")
				.row.align-items-center.justify-content-between
					.col-auto
						+e.pgojectName #[a(href="#") Проекты] – Всероссийский конкурс “Викторина Победы”
					.col-auto
						+e.pgojectCategory
							+e.color(style="background-color: #fc5454")
							span Военно-патриотические
							+e.date 21.07 – 18.08
			.tabs
				.tabs__caption
					.tabs__btn.active Описание
					.tabs__btn Номинации
					.tabs__btn Образовательные ресурсы
					.tabs__btn Задания
					.tabs__btn Контакты
					.tabs__link(href="#") Подать заявку
				.tabs__wrap
					+content1
					+content2
					+content3
					+content4
					+content5







//- Описание
mixin content1
	.tabs__content.active
		.section__inner
			+b.section-title
				h2 Всероссийский конкурс “Викторина Победы”
				
			+e.content
				p Вам предстоит принять участие в&nbsp;главных сражениях 1941 и&nbsp;1942 годов&nbsp;&mdash; оборонять Брестскую крепость, плечом к&nbsp;плечу с&nbsp;подольскими курсантами сдерживать немецкие танки на&nbsp;Варшавском шоссе, идти в&nbsp;атаку под Москвой, сражаться с&nbsp;врагом в&nbsp;Севастополе и&nbsp;Сталинграде, стоять насмерть в&nbsp;блокадном Ленинграде.
				p Формат приложения включает механики классической викторины и&nbsp;военной стратегии, а&nbsp;увлекательная игра сочетается с&nbsp;образовательным контентом. &laquo;Викторина&nbsp;Победы&raquo; основана на&nbsp;принципе &laquo;учиться играя&raquo;.
				h5 Для участия в конкурсе необходимо:
				ul
					li скачать приложение для Android 
					li скачать приложение для IOS
					li быть зарегистрированным #[a(href="#") на сайте]
					li ответить на вопросы викторины #[a(href="#") в игре]
					li подать заявку на&nbsp;участие в&nbsp;конкурсе (обязательно прикрепи свой результат (снимок экрана) прохождения игры).
				h5 Правила игры:
				ul
					li просматривайте видеоролики о событиях Великой Отечественной войны;
					li отвечайте на вопросы викторины, чтобы получать возможность делать ход;
					li управляйте советскими солдатами и уничтожайте группировку врага;
					li не дайте вражеской армии дойти до вашей позиции;
					li пройдите все уровни игры;
					li подайте Заявку на участие в конкурсе;
					li конкурс проходит со 2 ноября по 9 декабря 2020 года.
				.row.align-items-center.pt-2
					.col-md
						strong По&nbsp;итогам Конкурса с&nbsp;помощью генератора случайных чисел будут отобраны 5&nbsp;человек, которые получат настольную игру &laquo;Великая Отечественная война&raquo;, а&nbsp;также смогут сыграть в&nbsp;нее очно на&nbsp;праздновании дня рождения РДШ в&nbsp;2021&nbsp;году.
					.col-auto
						+e.btn(href="#") Подать заявку




//- Номинации
mixin content2
	.tabs__content
		.section__inner
			+b.section-title
				h2 Номинации
				
			.row





//- Образовательные ресурсы
mixin content3
	.tabs__content
		.section__inner
			+b.section-title
				h2 бразовательные ресурсы
				
			.row






//- Задания
mixin content4
	.tabs__content
		.section__inner
			+b.section-title
				h2 Задания
				
			.row







//- Контакты
mixin content5
	.tabs__content
		.section__inner
			+b.section-title
				h2 Всероссийский конкурс “Викторина Победы”
				
			.row








	// end sProjectInner