:root {
	--animate-delay: 1.2s;
	--fontSizeBase: #{$em-base};
	@include media-breakpoint-up(md) {

		--sPT: #{rem(30)};
		--sPB: #{rem(30)};
		--sPL: #{rem(30)};
		--sPR: #{rem(30)};
		--sTPB: #{rem(20)};
		--sMB: #{rem(40)};
	}

	--sPT: #{rem(40 / 2)};
	--sPB: #{rem(30 / 2)};
	--sPL: #{rem(30 / 2)};
	--sPR: #{rem(30 / 2)};
	--sTPB: #{rem(30 / 2)};
	--sMB: #{rem(40 / 2)};


		--swiperArrowSize: #{rem(40)};
		--swiperArrowPosition: #{rem(30)};
		--swiperBorderColorDef: var(--bs-primary);
		--swiperColorDef: #fff;
		--swiperBgDef: #{rgba($color: #f4f7ff, $alpha: .15)};
	
		--swiperBorderColorDefHover: var(--bs-primary);
		--swiperColorDefHover: var(--bs-primary);
		--swiperBgDefHover: #ffffff;


	 
}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

//
@include media-breakpoint-between(md, xl) {}


//
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

//
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}