.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-Icon_awesome-vk {
	font-size:(17/10)*1rem;
	width:(28/17)*1em;
}
.icon-archive {
	font-size:(12/10)*1rem;
	width:(13/12)*1em;
}
.icon-arrow-forward {
	font-size:(24/10)*1rem;
	width:(14/24)*1em;
}
.icon-basket {
	font-size:(24/10)*1rem;
	width:(22/24)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-chevron-down {
	font-size:(9/10)*1rem;
	width:(14/9)*1em;
}
.icon-chevron-left {
	font-size:(14/10)*1rem;
	width:(9/14)*1em;
}
.icon-chevron-right {
	font-size:(14/10)*1rem;
	width:(9/14)*1em;
}
.icon-facebook {
	font-size:(27/10)*1rem;
	width:(14/27)*1em;
}
.icon-fb {
	font-size:(27/10)*1rem;
	width:(14/27)*1em;
}
.icon-instagram {
	font-size:(25/10)*1rem;
	width:(25/25)*1em;
}
.icon-next {
	font-size:(14/10)*1rem;
	width:(9/14)*1em;
}
.icon-prev {
	font-size:(14/10)*1rem;
	width:(9/14)*1em;
}
.icon-radio {
	font-size:(21/10)*1rem;
	width:(29/21)*1em;
}
.icon-search {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-telegram {
	font-size:(22/10)*1rem;
	width:(26/22)*1em;
}
.icon-tiktok {
	font-size:(26/10)*1rem;
	width:(23/26)*1em;
}
.icon-twitter {
	font-size:(22/10)*1rem;
	width:(27/22)*1em;
}
.icon-user {
	font-size:(21/10)*1rem;
	width:(21/21)*1em;
}
.icon-viber {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-vk {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-whatsapp {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
