// start .headerBlock
.headerBlock {
	padding-top: rem(20);
	@include media-breakpoint-up(lg) {
		padding-top: rem(45);
	}
	padding-bottom: rem(30);
	&__block {
		@extend .bg-w;
		padding: rem(20) rem(31);
		margin-bottom: rem(15);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(30);
		}
	}

	&__txtSm {
		font-size: $small;
		margin-bottom: rem(3);
	}

	&__foot {
		margin-top: rem(62);
		@include media-breakpoint-up(lg) {
			margin-top: rem(132);
		}
	}

	&__row {
		@include media-breakpoint-up(xxxl) {
			@include roww(75px);
		}
	}

	&__sliderCol {
		@include media-breakpoint-up(lg) {
			width: 69.1% !important;
		}
		@include media-breakpoint-up(xl) {
			margin-right: rem(-30);
		}
		@include media-breakpoint-up(xxl) {
			margin-right: rem(-40);
		}
		@include media-breakpoint-up(xxxl) {
			margin-right: rem(-62);
		}
	}




	@include media-breakpoint-up(xs) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xs) {}

}// end.headerBlock

.calendarBlock {
	@extend .bg-w;
	padding: rem(16);

	.row {
		@include roww(40px);
	}

	&__calendar {
		background-color: #fff;
		border-radius: $border-radius;
		padding: rem(17) rem(29) rem(17) rem(22);
		position: relative;
		max-width: 157px;


		&::before {
			content: '';
			position: absolute;

		}
	}

	&__day {
		color: #f92929;
		font-weight: 500;
	}

	&__month {
		margin-left: 5%;
	}

	&__descr {
		line-height: 1.3;
	}

	&__wrap {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		color: #293377;
	}

	&__number {
		font-size: $h1-font-size;
		line-height: 1;

	}
}

.linkBlock {
	position: relative;
	min-height: rem(227);
	@include media-breakpoint-only(md) {
		min-height: rem(300);
	}
	padding: rem(14);
	border-radius: rem(30);
	overflow: hidden;
	display: flex;
	align-items: flex-end;
	margin-bottom: rem(15);
	@include media-breakpoint-up(lg) {
		margin-bottom: rem(30);
	}
	text-decoration: none !important;

	.picture-bg {
		img {
			@include media-breakpoint-only(lg) {
				object-fit: fill;
			}
		}
	}

	&__block {
		background-image: linear-gradient(-99.57deg, #ffa3a3 0%, #f82626 100%);
		color: #fff;
		display: block;
		width: 100%;
		border-radius: $border-radius;
		overflow: hidden;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: rem(11) rem(30) rem(10);
	}

	h4 {
		font-weight: 700;
	}

	&__iconArrow {
		.icon {
			color: #fff;
			font-size: rem(24);
		}
	}

	&__subtitle {
		font-size: rem(17px);
	}

	&--whithTxt {
		padding-bottom: rem(12);
		min-height: rem(247);
		@include media-breakpoint-only(md) {
			min-height: rem(300);
		}
	}
}

.mainSlider {
	@include media-breakpoint-up(lg) {
		margin-top: rem(-32);
	}
	max-height: rem(695);
	height: 100%;
	width: 100%;

	h6 {
		margin-top: rem(-15);
		font-weight: 400;
	}

	.swiper-container {
		width: 100%;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	&__slider {
		padding-top: rem(10);
	}

	&__slide {
		height: calc((100% - 30px) / 3);
	}


	&__item {
		display: block;
		text-align: center;
		// margin-bottom: rem(20);
		color: #fff !important;
		text-decoration: none !important;

		&:hover {
			transform: rotate(5deg) translateY(-15px);
		}
	}
}

.swiper-pagination {
	position: relative;
	display: inline-flex;
	align-items: center;
	width: auto;
	@extend .bg-w;
	padding: rem(7);
	margin-bottom: rem(40);
	@include media-breakpoint-up(xxl) {
		margin-top: rem(60);
	}
}

.swiper-pagination-bullet {
	background-color: rgba($color: #fff, $alpha: 0.26);
	width: 15px;
	height: 15px;
	margin-left: rem(8);
	margin-right: rem(8);

	&-active {
		background-color: $body-color;
	}
}

.theme {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin: rem(20) rem(55) 0;
	@include media-breakpoint-up(lg){
		margin: rem(-67) rem(55) 0;
	}

	&__text {
		font-size: $small;
		font-weight: 500;
		margin-bottom: rem(10);
		// flex-grow: 1;
		flex-basis: 100%;
		width: 100%;
		text-align: right;
		padding-right: rem(10);
	}

	&__item {
		width: rem(32px);
		height: rem(32px);
		border-radius: 50%;
		display: block;
		margin-left: rem(5);
		margin-right: rem(5);
		background-color: rgba($color: $body-color, $alpha: 0.15);

		&.active {
			border: solid 5px $body-color;
			// width: rem(17px);
			// height: rem(17px);
		}
	}
}