mixin sProjects(data)
	// start sProjects
	+b.SECTION.sProjects.section#sProjects&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Последние проекты направления
				
			+e.row.row
				.col-md-6.col-xl-4
					+projectItem('1','15.05 – 25.10','background-color: #ff9451','Всероссийская киберспортивная школьная лига')
				.col-md-6.col-xl-4
					+projectItem('2','21.07.2018','background-color: #ff9451','Творческая мастерская РДШ','ar')
				.col-md-6.col-xl-4
					+projectItem('3','24.02 – 12.08','background-color: #ff9451','Всероссийский проект «Информационная культура и безопасность», 2020-2021 год')
				.col-md-6.col-xl-4
					+projectItem('4','24.02 – 12.08','background-color: #ff9451','Всероссийский проект «Информационная культура и безопасность», 2020-2021 год')
				.col-md-6.col-xl-4
					+projectItem('5','21.07 – 18.08','background-color: #ff9451','Творческая лаборатория')
				.col-md-6.col-xl-4
					+projectItem('6','24.02 – 12.08','background-color: #ff9451','Фестиваль театрализованных представлений для обучающихся начальных классов')
	// end sProjects


mixin projectItem(i,date,dr,title,ar,sl)
	+b.projectItem&attributes(attributes)
		if sl
			picture.picture-bg
				source.swiper-lazy(srcset="#" data-srcset=`img/@2x/webp/project-bg-${i}.webp` type="image/webp")
				img.swiper-lazy(src="#" data-src=`img/@2x/project-bg-${i}.jpg`, alt="")
		else
			+pic(`project-bg-${i}.jpg`,'','')(class="picture-bg")
		+e.smDescr
			if ar
				+e.archive
					+icon('archive')
					span Архив
			+e.date
				+e.direction(style= dr)
				span!= date
		+e.main
			.row.align-items-center
				.col-sm
					+e.title(href="#")!= title
				+e.col.col
					+e.btn(href="#") Подать заявку


mixin sProjects-main(data)
	// start sProjects
	+b.SECTION.sProjects.section#sProjects&attributes(attributes)
		.container
				
			+b.filter
				+e.main
					
					h2 Проекты
					+e.quantly(style="background-color: #fc5454") 57
					+e.radioWrap
						+e.radio.form-check.form-switch
							label.form-check-label(for="current") Текущие
							input.form-check-input(type="checkbox" id="current")
						+e.radio.form-check.form-switch
							label.form-check-label(for="federal") Федеральные
							input.form-check-input(type="checkbox" id="federal")
						+e.radio.form-check.form-switch
							label.form-check-label(for="regional") Региональные
							input.form-check-input(type="checkbox" id="regional")
						+e.btn.d-none.d-md-block(type='button')
							+icon('chevron-down')
					+e.search
						+input('Введите название проекта…','search')
						+e.btnSearch(type="submit")
							+icon('search')
					+e.filter.accardion-js
						span Фильтр
						+icon('chevron-down')
				+e.hidden.accardion_hidden-js
					+e.hiddenInner
						.row
							.col-sm-6.col-lg-3
								+b.dopFilter
									+e.main.accardionToggle--js
										+e.color(style="background-color: #59c45b")
										+e.text Информационно-медийные
										+e.arrow
											+icon('chevron-down')
									+e.hidden.accardion_hiddenBlock-js
										ul
											li 
												+e.btn.active(type="submit") Междисциплинарные проекты и&nbsp;программы
											li 
												+e.btn(type="submit") Медиа
							.col-sm-6.col-lg-3
								+b.dopFilter
									+e.main.accardionToggle--js
										+e.color(style="background-color: #fc5454")
										+e.text Военно-патриотические
										+e.arrow
											+icon('chevron-down')
									+e.hidden.accardion_hiddenBlock-js
										ul
											li 
												+e.btn(type="submit") Краеведение
											li 
												+e.btn.active(type="submit") Патриотика
							.col-sm-6.col-lg-3
								+b.dopFilter
									+e.main.accardionToggle--js
										+e.color(style="background-color: #ff9451")
										+e.text Личностное развитие
										+e.arrow
											+icon('chevron-down')
									+e.hidden.accardion_hiddenBlock-js
										ul
											li 
												+e.btn(type="submit") Творческое развитие
											li 
												+e.btn(type="submit") Спорт
											li 
												+e.btn.active(type="submit") Популяризация профессий
							.col-sm-6.col-lg-3
								+b.dopFilter
									+e.main.accardionToggle--js
										+e.color(style="background-color: #6a94f4")
										+e.text Гражданская активность
										+e.arrow
											+icon('chevron-down')
									+e.hidden.accardion_hiddenBlock-js
										ul
											li 
												+e.btn(type="submit") Добровольчество
											li 
												+e.btn.active(type="submit") Поисковая деятельность
											li 
												+e.btn(type="submit") Экология
				
			+e.row.row
				.col-md-6.col-xl-4
					+projectItem('1','15.05 – 25.10','background-color: #ff9451','Всероссийская киберспортивная школьная лига')
				.col-md-6.col-xl-4
					+projectItem('2_1','21.07.2018','background-color: #6a94f4',`Всероссийский проект &laquo;Шеф&nbsp;в&nbsp;школе&raquo;`,'ar')
				.col-md-6.col-xl-4
					+projectItem('2_2','21.07 – 18.08','background-color: #fc5454',`Викторина Победы`)
				.col-md-6.col-xl-4
					+projectItem('2_3','15.08.2019','background-color: #ff9451',`Всероссийский проект &laquo;В&nbsp;Порядке&raquo;`,'ar')
				.col-md-6.col-xl-4
					+projectItem('2','15.08.2019','background-color: #ff9451','Творческая мастерская РДШ','ar')
				.col-md-6.col-xl-4
					+projectItem('6','24.02 – 12.08','background-color: #59c45b','Фестиваль театрализованных представлений для обучающихся начальных классов')
				.col-md-6.col-xl-4
					+projectItem('2_4','15.08.2019','background-color: #6a94f4','Веселые старты','ar')
				.col-md-6.col-xl-4
					+projectItem('3','24.02 – 12.08','background-color: #59c45b','Всероссийский проект «Информационная культура и безопасность», 2020-2021 год')
				.col-md-6.col-xl-4
					+projectItem('5','21.07 – 18.08','background-color: #ff9451','Творческая лаборатория')
			+pugin()
