extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug

block variables
	- let  mainPage= 'bg'
block title
	- let  title= 'РДШ'
	title= title
block pagecontent

	.main-wrapper()
		style.
			.bg {
				
				background: url(img/@2x/webp/main-bg-2.webp);
			}
		+header()
			+topLine()
		+headerBlock()
			+e.item(href="#" )
			+e.item(href="#")
			+e.item.active(href="#" style="background: url(img/@1x/webp/main-bg-2.webp)")

	//- +sForm()
	//- +sContact()
	//- +footer()


	