extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug

block variables
	- let  mainPage= 'bg'
block title
	- let  title= 'РДШ'
	title= title
block pagecontent

	.main-wrapper()
		style.
			.bg {
				
				background: linear-gradient(rgba(0, 0, 0, .24), rgba(0, 0, 0, .24)), url(img/@2x/webp/main-bg-1.webp);
			}
		+header()
			+topLine()
		+headerBlock()
			+e.item(href="#" )
			+e.item.active(href="#" style="background: linear-gradient(rgba(0, 0, 0, .24), rgba(0, 0, 0, .24)), no-repeat center/cover url(img/@1x/webp/main-bg-1.webp)")
			+e.item(href="#")

	//- +sForm()
	//- +sContact()
	//- +footer()


	