
// start .sCoordination
.sCoordination {
	

	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) { }
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sCoordination