mixin sCoordination(data)
	// start sCoordination
	+b.SECTION.sCoordination.section#sCoordination&attributes(attributes)
		.container
			.section__inner
				+b.section-title.text-center
					h2 sCoordination
					
				.row
	// end sCoordination