mixin sCoordination(data)
	// start sCoordination
	+b.SECTION.sCoordination.section#sCoordination&attributes(attributes)
		.container
			.section__inner
				+b.section-title
					h1 Координационный Совет
					p Осуществляет от&nbsp;имени Организации права юридического лица и&nbsp;исполняет его обязанности, распоряжается имуществом, принимает решения и&nbsp;организует их&nbsp;исполнение, регулирует деятельность Организации.
					
				+e.row.row
					
					.col-lg-6
						+personBlock('1',`Рязанский Сергей Николаевич`,`Председатель РДШ, летчик-космонавт, Герой Российской Федерации, мотивационный спикер, автор книг, космический фотограф`)
					.col-lg-6
						+personBlock('2',`Чурикова Яна Алексеевна`,`Сопредседатель РДШ, российский журналист, телеведущая, директор &laquo;МТV&nbsp;Россия&raquo;`)
					.col-lg-6
						+personBlock('3',`Плещева Ирина Владимировна`,`Исполнительный директор Российского движения школьников`)
					.col-lg-6
						+personBlock('4',`Амельченкова Ольга Николаевна`,`Председатель Центрального штаба Всероссийского общественного движения «Волонтеры Победы», член Центрального штаба ОНФ`)
					.col-lg-6
						+personBlock('5',`Родионова Елена Геннадьевна`,`Председатель попечительского совета Общероссийского общественного движения «Ассоциация учащейся молодежи Российского Союза Молодежи «Содружество», директор АНО «Агентство социальных технологий и коммуникаций»`)
					.col-lg-6
						+personBlock('6',`Романенко Роман Юрьевич`,`Депутат Государственной Думы ФС РФ, Герой Российской Федерации, летчик-космонавт, Руководитель Главного Штаба Всероссийского военно-патриотического движения «ЮНАРМИЯ»`)
					.col-lg-6
						+personBlock('7',`Савчук Павел Олегович`,`Председатель Всероссийского общественного движения «Волонтеры-медики»`)
					.col-lg-6
						+personBlock('8',`Садовничий Виктор Антонович`,`Президент Российского Союза ректоров, ректор Московского государственного университета им. М.В. Ломоносова`)
					.col-lg-6
						+personBlock('9',`Слащева Юлиана Юрьевна`,`Председатель правления киностудии «Союзмультфильм», председатель правления Ассоциации организаций индустрии анимационного кино, генеральный директор киностудии имени М. Горького`)
					.col-lg-6
						+personBlock('10',`Трубина Людмила Александровна`,`Проректор по учебно-методической работе МПГУ`)
					.col-lg-6
						+personBlock('11',`Фришман Ирина Игоревна`,`Директор Научно-практического центра Международного союза детских общественных объединений «Союз пионерских организаций – Федерация детских организаций»`)
					.col-lg-6
						+personBlock('12',`Цунаева Елена Моисеевна`,`Сопредседатель Центрального штаба ОНФ, ответственный секретарь Общероссийского общественного движения по увековечению памяти погибших при защите Отечества «Поисковое движение России»`)
					.col-lg-6
						+personBlock('13',`Цыварева Татьяна Алексеевна`,`Главный редактор федерального, общенационального, государственного, международного телеканала для детей и юношества «Карусель»`)
					.col-lg-6
						+personBlock('14',`Шаханов Дмитрий Сергеевич`,`Заместитель генерального директора ОАО «РЖД» по управлению персоналом и социальным вопросам`)
				+b.section-title--subtitle
					h4 Центральная Контрольно-ревизионная комиссия
				+e.row.row
					.col-lg-6
						+personBlock('15',`Гуров Григорий Александрович`,`Заместитель руководителя Федерального агентства по делам молодежи`)
					.col-lg-6
						+personBlock('16',`Парамонов Дмитрий Андреевич`,`Руководитель Аппарата Центрального штаба Молодежной общероссийской общественной организации «Российские студенческие отряды»`)
	// end sCoordination

mixin personBlock(img,name,descr)
	+b.personBlock(href="#")&attributes(attributes)
		+e.row.row
			.col-sm-auto
				+pic(`person-${img}.jpg`)
			.col
				
				+e.name= name
				p!= descr