mixin sPersonalCard(data)
	// start sPersonalCard
	+b.SECTION.sPersonalCard.section#sPersonalCard&attributes(attributes)
		.container
			.section__inner
				+e.block
					.row.align-items-center
						.col
							+b.section-title
								h1 Рязанский Сергей Николаевич
								+e.subtitle Председатель РДШ, Герой Российской Федерации, лётчик-космонавт Российской Федерации
						.col-sm-auto.order-sm-first
							+pic('person-1.jpg','','')
				+e.content
					p Родился 13 ноября 1974 года.
					p Дед&nbsp;&mdash; Михаил Сергеевич Рязанский&nbsp;&mdash; советский учёный и&nbsp;конструктор в&nbsp;области ракетнокосмической техники. Первый в&nbsp;мире ученый&nbsp;&mdash; командир космического корабля, кандидат биологических наук. Совершил 2&nbsp;космических полета суммарной продолжительностью 306&nbsp;суток, 4&nbsp;выхода в&nbsp;открытый космос продолжительностью 27&nbsp;часов 35&nbsp;минут. Вместе с&nbsp;космонавтом Олегом Котовым вынес факел Сочинской зимней олимпиады в&nbsp;открытый космос. В&nbsp;качестве командира экипажа Марс 105 работал в&nbsp;проекте &laquo;Марс-500&raquo;
					h5 Награды:
					ul
						li звание &laquo;Герой Российской Федерации&raquo; и&nbsp;&laquo;Летчик-космонавт РФ&raquo; (Указ Президента Российской Федерации от&nbsp;14.09.2015&nbsp;г. &#8470;&nbsp;451);
						li медали&nbsp;им. Ю.&nbsp;А.&nbsp;Гагарина и&nbsp;им. М.&nbsp;С.&nbsp;Рязанского Федерации космонавтики России;
						li Сертификат НАСА за&nbsp;личный вклад в&nbsp;работу над международным проектом &laquo;Бион-11&raquo;;
						li диплом за существенный вклад в международный 240-суточный эксперимент по симуляции космического полета SFINCSS.
					h5 Книги: 
					ul
						li Удивительная Земля. Уникальные фотографии Земли из&nbsp;космоса&nbsp;&mdash; М.: БОМБОРА, 2018&nbsp;г.
						li Можно&nbsp;ли забить гвоздь в&nbsp;космосе и&nbsp;другие вопросы о&nbsp;космонавтике&nbsp;&mdash; М.: БОМБОРА, 2019&nbsp;г.
						li Удивительная Земля. Планета тысячи цветов&nbsp;&mdash; М.: БОМБОРА, 2019&nbsp;г.
			.row
				.col-lg-6
					.section__inner.section__inner--otherPadding
						+e.content
							h5 Образование:
							p Окончил биологический факультет Московского государственного университета&nbsp;им. М.В. Ломоносова. Работал в&nbsp;Государственном научном центре&nbsp;&mdash; Институте медикобиологических проблем РАН.
							p Защитил кандидатскую диссертацию по&nbsp;специальностям &laquo;Физиология&raquo; и&nbsp;&laquo;Авиационная и&nbsp;космическая медицина&raquo;.
							p С&nbsp;отличием окончил Российскую академию народного хозяйства и&nbsp;государственной службы при Президенте РФ&nbsp;по&nbsp;специальности &laquo;Государственное и&nbsp;муниципальное управление&raquo;.
							p В&nbsp;2003 году был зачислен в&nbsp;отряд космонавтов. В&nbsp;2005 году получил квалификацию космонавт-исследователь, а&nbsp;в&nbsp;2010 году&nbsp;&mdash; космонавт-испытатель.
				.col-lg-6
					.section__inner.section__inner--otherPadding
						+e.content
							h5 Работа и общественная деятельность:
							p 1996 – 1997<br> младший научный сотрудник ГНЦ РФ ИМБП РАН
							p 1997 – 2000<br> Аспирант ГНЦ РФ ИМБП РАН
							p 2001 – 2003<br> научный сотрудник ГНЦ РФ ИМБП РАН
							p 2003 – 2020<br> старший научный сотрудник ГНЦ РФ ИМБП РАН
							p 2016 – 2020<br> председатель Российского движения школьников

					
	// end sPersonalCard