mixin sSchoolHead(data)
	// start sSchoolHead
	+b.sSchoolHead.section#sSchoolHead&attributes(attributes)
		.container
			.section__inner.pb-0 
				+e.title Северо-Кавказский федеральный округ, Кабардино-Балкария, село Урвань, Школьная, 28
				h1 Муниципальное казенное общеобразовательное учреждение «Средняя общеобразовательная школа» с.п. Урвань Урванского муниципального района КБР
				.row
					.col-md-6
						+e.item.section__inner
							.row
								.col-md-auto.pb-3
									.small 
										span.fw-500 Телефон: 
										a(href="tel:+79034918222") +79034918222
									.small 
										span.fw-500 Email: 
										a(href="mailto:misostei9@yandex.ru") misostei9@yandex.ru
								.col
									.small 
										span.fw-500 Директор ФИО: 
										| Шоранова Фуса Алиевна
									.small 
										span.fw-500 Количество учащихся: 
										| 565
					.col-md-6
						+e.item.section__inner
							.row
								.col-md-auto.pb-3
									.small Куратор РДШ: Марина Шаова 
									.small 
										span.fw-500 Телефон: 
										a(href="tel:+79034918222") +79034918222
									.small 
										span.fw-500 Email: 
										a(href="mailto:misostei9@yandex.ru") misostei9@yandex.ru
								.col
									.small 
										span.fw-500 Директор ФИО: 
										| Шоранова Фуса Алиевна
									.small 
										span.fw-500 Количество активистов РДШ: 
										| 24
	// end sSchoolHead