// start .header
.header {
	padding-top: rem(15px);
	padding-bottom: rem(20);
	@include media-breakpoint-up(lg) {
		padding-top: rem(30px);
		padding-bottom: rem(45);
	}



	@include media-breakpoint-up(xs) {}
	@include media-breakpoint-between(md, xl) { }
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xs) {} 

} // end.header