mixin sQuestions(data)
	// start sQuestions
	+b.SECTION.sQuestions.section#sQuestions&attributes(attributes)
		.container
			.section__inner
				+b.section-title
					h2 Вопросы и ответы
					
				.row
					mixin item(t,sm)
						.col-lg-6
							+e.item
								+e.accardion.accardionToggle--js
									+e.title!= t
									+e.accardionButton
								if sm
									+e.hiddenBlock--sm.accardion_hiddenBlock-js
										p Контакты представителей региональных отделений РДШ можно найти на&nbsp;нашем сайте в&nbsp;разделе #[a(href="#") &laquo;Региональные отделения&raquo;]
								else
									+e.hiddenBlock.accardion_hiddenBlock-js
										p Организация предоставляет каждому школьнику в&nbsp;возрасте от&nbsp;8&nbsp;лет возможности приобретать навыки по&nbsp;всем направлениям деятельности РДШ и&nbsp;принимать участие в&nbsp;творческих конкурсах, семинарах, тематических слётах, форумах, фестивалях, посещать детские оздоровительные лагеря, заниматься добровольческой деятельностью, встречаться с&nbsp;интересными людьми, заниматься в&nbsp;военно-патриотических клубах, пробовать свои силы в&nbsp;журналистике, обмениваться и&nbsp;перенимать опыт школьников из&nbsp;других регионов страны.

					+item(`Что дает школьнику участие в РДШ?`)
					+item(`Кто будет организовывать деятельность РДШ в школе?`,'sm')
					+item(`Поможет ли участие в РДШ в дальнейшем при поступлении в вуз?`)
					+item(`С какого возраста школьник может стать участником РДШ?`,'sm')
					+item(`Могут ли студенты вузов стать участниками РДШ?`)
					+item(`Как узнать, кто является координатором РДШ в моем регионе?`,'sm')
					+item(`Каким образом осуществляется сотрудничество РДШ с движением «Юнармия»?`)
					+item(`Как присоединиться к РДШ?`,'sm')
	// end sQuestions